body {
    margin: 0
}

.nav-header {
    height: 96px;
    background-color: black;
}

.nav-logo {
    position: absolute;
    left: 220px;
    top: 34px;
    bottom: 4.43%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    justify-content: flex-end;
    margin-right: 220px;
    margin-top: 15px;
    margin-left: 220px;
}

.nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.hero-page {

position: absolute;
width: 100%;
height: 680px;

background: #000000;
}

.img-intro {
    position: absolute;
    width: 640px;
    height: 800px;
    left: 820px;
}